Django>=5.0.0,<6.0.0
django-jazzmin>=3.0.0
django-tailwind>=4.5.0
pytailwindcss>=0.3.1
Pillow>=10.0.0
psycopg2-binary>=2.9.0
python-dotenv>=1.0.0
dj-database-url>=2.1.0
requests>=2.31.0
django-stubs>=5.0.0
